/**
 * Place your custom CSS styles here.
 **/

.centerBox {
    margin: auto;
}

.popup {
    visibility: visible;
    float: center;
    width: 500px;
    height: 250px;
    margin: auto;
    padding-top: 125px;
    padding-bottom: 20px;
    padding-left: 60px;
    background-color: #0000CD;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    z-index: 99999999;    
}

.fontSans {
    visibility: visible;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 35px;
    line-height: 42px;
    font-weight: normal;
}

.fontMono {
    visibility: visible;
    width: 80%;
    color: #fff;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
    
}
.fontBlackletter {
    visibility: visible;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: 'Pirata One', cursive;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
}

.fontSerif {
    visibility: visible;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: 'Amiri', serif;
    font-weight: normal;
    font-size: 47px;
    line-height: 42px;
}

.fontDisplay {
    visibility: visible;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: 'Yatra One', cursive;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
}

/*Image1 { display:block; }
Image1 > img { border: 3px solid white; }*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.popup.fontSans.fontSerif.fontBlackletter.fontMono.fontDisplay {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.close:hover,
.close:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
