/**
 * Place your custom CSS styles here.
 **/
.popup {
    visibility: visible;
    float: center;
    width: 500px;
    margin: auto;
    padding-top: 140px;
    padding-bottom: 50px;
    padding-left: 110px;
    height: 250px;
    background-color: #0000CD;
    position: fixed;
    overflow: auto;
    z-index: 1;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    z-index: 99999999;    
}

.fontSans {
    visibility: visible;
    width: 80%;
    color: #fff;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 53px;
    line-height: 54px;
    font-weight: normal;
}

.fontMono {
    visibility: visible;
    width: 80%;
    color: #fff;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 52px;
    line-height: 56px;
    
}
.fontBlackletter {
    visibility: visible;
    width: 80%;
    color: #fff;
    text-align: center;
    font-family: 'UnifrakturMaguntia', cursive; 
    font-weight: normal;
    font-size: 58px;
    line-height: 56px;
}

.fontSerif {
    visibility: visible;
    width: 80%;
    color: #fff;
    text-align: center;
    font-family: 'Amiri', serif;
    font-weight: normal;
    font-size: 62px;
    line-height: 56px;
}

.fontDisplay {
    visibility: visible;
    width: 80%;
    color: #fff;
    text-align: center;
    font-family: 'Yatra One', cursive;
    font-weight: normal;
    font-size: 56px;
    line-height: 56px;
}

/*Image1 { display:block; }
Image1 > img { border: 3px solid white; }*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
