/**
 * Place your custom CSS styles here.
 **/

.centerBox {
    margin: auto;
}

.Msgpopup {
    visibility: visible;
    float: center;
    width: 600px;
    max-height: 500px;
    overflow: hidden;
    margin-left: 50%;
    transform: translateX(-300px);
    background-color: #0000CD;
    position: fixed;
    z-index: 1;
    top: 50px;
    z-index: 99999999;    
}

.Msgpopup .sentence-container {
    width: fit-content;
    padding: 30px;
    margin-top: 120px;
    margin-bottom: 30px;
    margin-right: 0;
}

.fontSans {
    visibility: visible;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 35px;
    line-height: 42px;
    font-weight: normal;
}

.fontMono {
    visibility: visible;
    width: 80%;
    color: #fff;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
    
}
.fontBlackletter {
    visibility: visible;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: 'Pirata One', cursive;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
}

.fontSerif {
    visibility: visible;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: 'Amiri', serif;
    font-weight: normal;
    font-size: 47px;
    line-height: 42px;
}

.fontDisplay {
    visibility: visible;
    width: 90%;
    color: #fff;
    text-align: center;
    font-family: 'Yatra One', cursive;
    font-weight: normal;
    font-size: 42px;
    line-height: 42px;
}

/*Image1 { display:block; }
Image1 > img { border: 3px solid white; }*/

.Msgpopup.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.Msgpopup.Msgback-link.fontSans.fontSerif.fontBlackletter.fontMono.fontDisplay {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.closeButton {
    width: 20px;
    position: absolute;
    top: 35px;
    left: 35px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #D8D8D8;
    text-decoration: none;
    cursor: pointer;
}

.Msgback-link {
    padding-top: 50px;
    margin: 0 auto;
    margin-bottom: 60px;
    visibility: visible;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
